$mainFontColor : #3A0D25;
$hoverFontColor : #663333;
$descriptionColor : #996633; 
$siteTitleColor : #3A0D25;
$siteTitleColor2 : #663333;
$entryMetaColor : #7B4318;
$mainNavLinkColor: #FFF;
$mainNavLinkColor2: #FFF;
$mainNavBackground : #E5B366;
$mainNavBackgroundHover : #793C2F;
$mainNavBackgroundChild : #D69328;
$navLinkBorderColor : #FFF;

//main background gradient
$mainBGColorStart: #111111;
$mainBGColorEnd: #6d1919;

$hrColor : #e7e7e7;

$contentColor : #333;

$aColor : #0066cc;

$aVisitedColor : #743399;

$aHoverColor : #A11E19; 